<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoeSpeed Insights</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
    <h1>ShoeSpeed Insights</h1>
    <p>Welcome to ShoeSpeed Insights, your platform for tracking running performance!</p>
    <p></p>
    <p>Please log in to analyze your running shoes performance:</p>
    <div class="button-container">
        <form action="/authorize">
        <input type="submit" value="Log In via Strava">
    </form>
    </div>
</body>

</html>
